body {
    margin: 0;
    font-family: "Titillium Web";
    font-size: 15px;
}

@media (max-width: 680px) {
    body {
        font-size: 12px;
    }
}

header {
    background-color: honeydew;
    margin: 0;
    position: absolute;
    top: 0;
    height: 2.5rem;
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid black;
}

header img {
    margin: 5px;
    vertical-align: middle;
}

@media (max-width: 680px) {
    header img {
        margin: 3px;
        width: 32px;
        height: 32px;
    }
}

header .user {
    margin: -48px 1em;
    float: right;
}

@media (max-width: 680px) {
    header .user {
        margin: -15px, 1em;
    }
}

h1.title {
	color: black;
    font-family: 'Patua One', sans-serif;
    font-size: 2em;
	text-align: left;
	width: 100%;
    margin: 0;
}

@media (max-width: 680px) {
    h1.title {
        font-size: 1.2rem;
    }
}

.container {
    margin: 3em auto 0;
    max-width: 650px;
}

@media (max-width: 680px) {
    .container {
        margin: 3em 0 0;
        padding: 3px;
    }
}
h1, h2 {
    font-size: 2rem;
}

@media (max-width: 680px) {
    h1, h2 {
        font-size: 1.2rem;
    }
}
