.small {
    font-size: smaller;
    float: right;
}

a.icon {
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    padding:1px 2px;
    margin:0;
}

a.icon:hover {
    border: 1px solid #007bff;
}

.icon:hover path {
    fill: black;
}
