.rowmenu {
    margin: 1em 0;
    align-items: center;
    display:none;
}

.rowmenu .btn-group {
    margin-left: 0.2em;
}

.dropdown-item {
    color: #212529;
}

.dropdown-menu > label {
    margin: 0 0 0.5em 0.5em;
}

.dropdown-item::before {
    display: inline flow-root list-item;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    margin: 0 0.3em;
    content: " ";
}

.dropdown-item.indigo::before {
    background-color: indigo;
}
.dropdown-item.black::before {
    background-color: black;
}

.dropdown-item.darkgreen::before {
    background-color: darkgreen;
}

.dropdown-item.red::before {
    background-color: red;
}

.dropdown-item.olive::before {
    background-color: olive;
}

.dropdown-item.snow::before {
    background-color: snow;
}

.dropdown-item.blue::before {
    background-color: blue;
}

.dropdown-item.purple::before {
    background-color: purple;
}

.dropdown-item.teal::before {
    background-color: teal;
}

.dropdown-item.orangered::before {
    background-color: orangered;
}

.dropdown-item.navy::before {
    background-color: navy;
}

.dropdown-item.maroon::before {
    background-color: maroon;
}
