.container ol {
    text-align: center;
}

.container ol a {
    text-decoration: none;
    color: #212529;
    background-color: rgba(255,255,0,0.4);
}

.container ol a:hover {
    text-decoration: underline dotted;
    color: black;
}

.container ol .arrow {
    font-size: 4em;
    display: block;
    transform: rotate(90deg);
}
