#vmapfr {
    width: 580px;
    height: 500px;
}

.jqvmap-label {
    padding: 0.3em;
    font-weight: 600;
    background: linen;
    color: gray;
    position: absolute;
    font-family: "Titillium Web";
}

.jqvmap-zoomin, .jqvmap-zoomout {
    width: 15px;
    height: 15px;
    padding: 1px;
}
