.spinner-border {
    margin-top: 1em;
    align: center;
}

.table tr th {
    background-color: honeydew;
    font-size: larger;
}

.table tr th img {
    width: 56px;
    height: auto;
}

a.lead {
    display: block;
    border: 1px solid white;
    border-radius: 0.3em;
    margin: 0;
    padding: 0.3em 0.2em 0.2em;
    white-space: nowrap;
    text-align: center;
    line-height: 0.7em;
}

@media (max-width: 680px) {
    a.lead {
        padding:0;
    }
}

a.lead:hover {
    border-color: #007bff;
    text-decoration: none;
}

a.lead span:not([role=img]) {
    font-size: 0.6em;
    line-height: 0.5em;
}
