/* colors */
.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.forestgreen {
    color: forestgreen;
}

.grey {
    color: grey;
}

.lightgrey {
    color: lightgrey;
}

.lightslategray {
    color: lightslategray;
}

.white {
    color: white;
}

.bold {
    font-weight: bold;
}

.block {
    margin: 0.5em 0;
}

.btn {
    margin: 0 0.2em 0 0;
}

.md-textarea {
    background-color: honeydew;
    font-size: small;
}

.public .not-public,
.container:not(.public) .public {
    display: none;
}

h2 i {
	font-size: large;
}

/* Print
----------------------------------------------- */
@media print {
	body {
		background: none;
		font-size: 14pt;
	}

	.row {
        /* remove flex */
		display: block;
	}

    .form-inline,
    .messages,
    .menu,
	h1.title {
        display: none !important;
    }
}
